doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title New Site
	body
		.wrapper
			h1 Welcome!
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta esse dolorum iusto aliquam, vero minus aliquid perferendis culpa repellendus sed voluptas neque illo expedita? Repellat obcaecati ex molestias animi tempora!
		script(src="js/main.js")
		script(src="js/libs.min.js")